.container {
  height: 100%;
  position: relative;
  z-index: 99;
  overflow: auto;
}

@media only screen and (max-width: 880px) {
  .container {
    position: absolute;
    left: -1000px;
    transition: all 0.4s;
  }

  .container.active {
    left: 0;
  }

  .container.active .sidebar {
    width: 75vw;
    text-align: center;
  }
}

.sidebar {
  height: 100%;
  width: 24rem;
  background: rgb(247, 246, 243);
  color: rgb(129, 126, 116);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  overflow: auto;
}

.dark {
  background: rgb(44, 50, 58);
  color: rgb(118, 131, 144);
}

.themeSwitch {
  align-self: center;
  width: 6.2rem;
  height: 3rem;
  padding: 0 1px;
  display: flex;
  border-radius: 1rem;
  background: rgb(197, 187, 187);
  border: 1px solid rgba(122, 107, 107, 0.699);
  position: relative;
  cursor: pointer;
}

.button {
  position: absolute;
  top: -1px;
  left: 0;
  height: 2.92rem;
  width: 2.92rem;
  border-radius: 50%;
  background: white;
  z-index: 300;
  border: 0.8px solid rgb(78, 72, 72);
  transition: all 0.2s;
}

.dark .button {
  transform: translateX(105%);
}

.icon {
  display: block;
  width: 3rem;
}

.itemContainer {
  margin-top: 5rem;
  /* text-align: center; */
}

.item {
  width: 100%;
  padding: 0.35rem 2rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item:hover {
  background: rgba(185, 183, 183, 0.329);
}

.dark .item:hover {
  background: rgba(24, 26, 29, 0.425);
}

.item.active {
  background: rgba(185, 183, 183, 0.329);
  color: rgb(36, 33, 26);
}

.dark .item.active {
  background: rgba(24, 26, 29, 0.425);
  color: rgb(141, 151, 161);
}

.footer {
  align-self: center;
  margin: auto 0 1.4rem;
  text-align: center;
}

.copyright {
  font-size: 1.05rem;
}
