.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 5rem;
  width: 100%;
}

.headerContent {
  position: relative;
  padding-top: 2rem;
  padding-right: 4rem;
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 880px) {
  .headerContent {
    padding-right: 2rem;
  }
}

.icon {
  height: 80%;
  width: 2.3rem;
  margin: 0 1rem;
}

.icon:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.deleteMessage {
  position: absolute;
}

.deleteButton {
  font-size: 1.4rem;
  padding: 7px 1.2rem;
  border: none;
  border-radius: 10px;
  background: rgb(236, 134, 134);
  color: #fff;
  box-shadow: 0 3px 4px rgba(20, 20, 20, 0.4);
  cursor: pointer;
  transition: visibility 0.5s;
}

.deleteButton:hover {
  transform: scale(1.05);
}
