.blockContainer {
  position: relative;
}

.blockContainer:hover .icon {
  display: block;
}

.block {
  min-height: 25px;
  padding: 0.45rem;
  padding-right: 2rem;
  user-select: text;
  -webkit-user-select: text;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* -webkit-user-modify: read-write-plaintext-only; */
  outline: none;
  border-radius: 3px;
  word-wrap: break-word;
}

.block:hover {
  background: #fafafa;
  outline: #f5f6fb;
}

.dark .block:hover {
  background: rgb(44, 50, 58, 0.5);
  outline: rgb(51, 51, 51);
}

.block:focus + .icon {
  display: block;
}

.titlePlaceholder[contentEditable='true']:empty:before {
  content: attr(placeholder);
  color: rgba(72, 72, 72, 0.25);
  cursor: text;
}

.dark .titlePlaceholder[contentEditable='true']:empty:before {
  content: attr(placeholder);
  color: rgba(247, 247, 247, 0.3);
  cursor: text;
}

[contentEditable='true']:focus:empty:before {
  content: attr(placeholder);
  color: rgba(72, 72, 72, 0.25);
  cursor: text;
}

.dark [contentEditable='true']:focus:empty:before {
  content: attr(placeholder);
  color: rgba(247, 247, 247, 0.3);
  cursor: text;
}

.icon {
  height: 2rem;
  width: 2rem;
  fill: rgba(128, 128, 128, 0.726);
  position: absolute;
  right: 0;
  top: 30%;
  cursor: pointer;
  display: none;
}

.dark .icon {
  fill: rgba(160, 159, 159, 0.726);
}
