@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.container {
  display: flex;
  background: white;
  color: rgb(55, 53, 47);
  transition: all 0.2s;
}

.dark.container {
  background: rgb(60, 67, 77);
  color: rgb(240, 240, 240);
}
