@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 58.5%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  overflow: auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.63rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.36rem;
}

p {
  font-size: 1.65rem;
  margin-bottom: 0.27rem;
}

a:link,
a:visited {
  color: rgb(70, 105, 211);
}

h1.pageTitle {
  font-size: 3.7rem;
  margin-bottom: 2rem;
}

.container {
  height: 100vh;
  display: flex;
  background: white;
  color: rgb(55, 53, 47);
  transition: background-color 0.2s, color 0.2s;
}

.dark .container {
  background-color: rgb(60, 67, 77);
  color: rgb(240, 240, 240);
}

.icon {
  height: 2.65rem;
  width: 2.65rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  fill: rgb(55, 53, 47);
  display: none;
  z-index: 12;
  cursor: pointer;
}

.dark .icon {
  fill: rgb(240, 240, 240);
}

@media only screen and (max-width: 880px) {
  .icon {
    display: block;
  }
}
